.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 21px;
  top: -34px !important;
  position: relative;
  background: white;
  width: 90%;
  margin: auto;
  box-shadow: rgb(32 32 35 / 20%) 0px 7px 29px 0px;
}

.menuClass {
  height: 55%;
  transition: height 0.3s ease;
}
.contentClass {
  height: 85%;
  transition: height 0.3s ease;
}
